@{
    ViewData["Title"] = "Pharmacy Vaccine Inventory";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pharmacy Vaccine Inventory</h1>
    <p>CS 665 Introduction to Database Systems</p>
</div>
